<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Info</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/FavConFinal.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizLand
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="landingPage">Social Media & Mental Health<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/landingPage">Home</a></li>
          <li><a href="#">Info</a></li>
          <li><a href="/survey">Survey</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/data2">Data</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>About</h2>
            <h3>Find Out More About<span> Social Media</span></h3>
            <p>Welcome to our information page on the effects of social media on mental health in Provo, UT. 
              In today's digital age, social media plays a significant role in our lives, but it's essential to understand its potential impact on mental well-being.
            </p>
        </div>
        <br><br>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="assets/img/socialmedia1.webp" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Maintaining a healthy balance in your social media use is crucial. Here are some tips:</h3>
            <ul>
                <li>
                <i class="bx bx-timer"></i>
                <div>
                    <h5>Set time limits for social media use</h5>
                    <p>Establishing time limits for social media use, such as allocating specific periods and utilizing smartphone features, 
                      promotes productivity and reduces stress, fostering a balanced and mindful online presence. This approach encourages intentional engagement, 
                      leading to improved time management and enhanced well-being.
                    </p>
                </div>
                </li>
                <li>
                <i class="bx bx-group"></i>
                <div>
                    <h5>Build a positive online community</h5>
                    <p>Building a positive online community involves fostering supportive interactions, promoting constructive dialogue, and actively moderating content 
                    to ensure a respectful environment. Encouraging empathy and collaboration among members cultivates a sense of belonging and enhances the overall well-being 
                    of the community.
                  </p>
                </div>
                </li>
                <li>
                <i class="bx bx-coffee"></i>
                <div>
                    <h5>Take breaks and prioritize real-world connections</h5>
                    <p>Taking breaks from social media allows for mental rejuvenation, reducing screen time-related stress, and fostering a healthier digital balance. 
                    Prioritizing real-world connections involves allocating time for face-to-face interactions, strengthening personal relationships, and promoting overall well-being.</p>
                </div>
                </li>
            </ul>
            <p>
              If you or someone you know is struggling with mental health issues related to social media, there are resources available in Provo, UT. 
              Reach out to local support groups, counseling services, or mental health professionals for assistance.
            </p>
            </div>
        </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <h3>Frequently Asked <span>Questions</span></h3>
          <p>See frequently asked questions below:</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">How does social media impact mental health in Provo, UT specifically?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Social media in Provo, like elsewhere, can influence mental health through factors such as online comparison, cyberbullying, and the impact of digital interactions on self-esteem.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Are there local initiatives addressing the mental health effects of social media in Provo?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Yes, there are local initiatives, including awareness campaigns, workshops, and community-led efforts to address and discuss the impact of social media on mental health.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What are common signs of mental health issues related to social media use in the Provo community?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Common signs include increased stress, anxiety, feelings of inadequacy, and changes in sleep patterns associated with excessive social media use.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Are there support groups or counseling services available for individuals affected by social media-related mental health challenges in Provo?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Yes, Provo offers counseling services, support groups, and mental health resources to help individuals coping with the challenges posed by social media.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">How can individuals maintain a healthy balance between social media use and mental well-being in Provo?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Individuals can maintain balance by setting time limits, being mindful of content consumption, and fostering real-world connections, as well as seeking support when needed.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Are there specific age groups or demographics more susceptible to the negative effects of social media in Provo?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    While susceptibility varies, adolescents and young adults are often more vulnerable to the negative effects of social media due to developmental and peer-influence factors.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">What resources are available for parents to guide their children in navigating social media and mental health in Provo?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq7" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Resources include educational workshops, online guides, and local parenting groups that offer insights and strategies for guiding children through healthy social media use.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq8" class="collapsed question">Are there success stories or positive outcomes from community efforts to address social media's impact on mental health in Provo?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq8" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Yes, there have been success stories where community-driven initiatives have raised awareness, reduced stigma, and improved mental health outcomes related to social media use.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq9" class="collapsed question">How can businesses and educational institutions in Provo promote a healthy online environment for their employees or students?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq9" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Businesses and institutions can promote healthy online habits by providing education, implementing digital wellness programs, and fostering a supportive culture that encourages breaks and offline activities.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq10" class="collapsed question">What role does community awareness play in mitigating the negative effects of social media on mental health in Provo?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq10" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Community awareness plays a crucial role in fostering open conversations, reducing stigma, and creating a supportive environment where individuals feel empowered to address and mitigate the negative impacts of social media on mental health.
                  </p>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>TNRB, Brigham Young University, Provo, UT 84602</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>conatct@example.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>(801) 422-4121</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.1325530203762!2d-111.65523388847204!3d40.25058536561584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d90bb6adb91e7%3A0x4858f3307ac3d0b2!2sN.%20Eldon%20Tanner%20Building%20(TNRB)!5e0!3m2!1sen!2sus!4v1701723973470!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Provo<span>.</span></h3>
            <p>
            TNRB, Brigham Young University <br>
            Provo, UT 84602<br>
              United States <br><br>
              <strong>Phone:</strong> (801) 422-4121<br>
              <strong>Email:</strong> contact@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="landingPage">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Info</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="survey">Survey</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="dashboard">Dashboard</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="login">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
